@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');

 body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-size: 15px;
  padding: 0;
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
}

.red {
  color: red;
}

nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 15px;
  height: 40px;
  border-bottom: 1px solid #ff1a1a;
  overflow: none;
}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

.top-left {
  margin-left: 20px;
}

.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: -25px 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}

#search {
  display: inline-block;
  margin-left: 100px;
}

.header {
  color: #ffffff;
  background: rgb(32, 101, 136);
  position: absolute;
  /* height: 85%; */
  padding: 0px 5px 0;
  width: 100%;
  margin: 0px;
  overflow: none
}

.textbutton {
  width: 34%;
  margin: 10em 5em 5em 25em; 
}

.textbutton h1 {
  font-size: 50px;
  font-family: Arial;
  margin: 0 0 2em 0;
}

.textbutton p {
  font-size: 25px;
  margin: 0 0 2em 0;
}

.textbutton h1, .sign-up {
  margin-top: 100px;
}

.city-scape {
  height: 85%;
  background-image: url("https://svgshare.com/i/7jX.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: -3px;
  overflow: none;
}

.top-logo {
  /* height: 20px; */
  width: 100px;
  position: relative;
  top: 50px;
  left: 20px;
  display: inline;
  margin: 250px 20px 50px 20px;

}

.npm-logo {
  height: 35px;
  position: relative;
  top: -30px;
  margin-right: 20px;
}

.search-bar {
 width: 76%;
 height: 30px;
  position: relative;
  top: -45px;
  margin-right: 0px;
  background-color: rgb(31, 82, 111);
  padding-left: 14px;
  color: #ffffff;
}

.search-btn {
  position: relative;
  top: -44px;
  width: 45px;
  cursor: pointer;

border: 1px solid rgb(52, 121, 156);
border-left: none;
background-color: rgb(39, 82, 107);
color:  rgba(255,255,255,0.8);
padding: 4px 8px;
/* margin: 10px 0 0; */
height: 38px;
}

.top-link {
 text-decoration: none;
 color: #ffffff;
 margin:0 10px 0 20px;
 position: relative;
 top: -45px;
 left: 10px;
 font-size: 16px;
}

.bear-logo {
  height: 45px;
  position: relative;
  top: -30px;
  margin-left: 5px;
}

.sign-up { /* button */
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  background-color: rgb(240, 146, 51);
  display: inline-block;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 6px;
  width: 24%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.sign-up:hover {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  background-color: #FF9A33;
}

.clearfix {
  clear: both;
}

.collaboration {
  position: relative;
  top: 684px;
  height: 580px;
  margin: 0 auto;
    background-color: rgb(39, 53, 71);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: none;
}

.coll-logo {
  width:600px;
  margin: 10em 2em 0em 24em;
  overflow: none;
 }
 
 .npm-org {
   color: #FFFFFF;
   float: right;
   margin: 8em 12em 0 0;
 }

 .npm-org h1 {
  font-size: 40px;
  font-family: Arial;
  margin: 0 0 2em 0;
 }

 .npm-org ul > li, p {
  font-size: 20px;
  /* margin: 0 0 2em 0; */
 }

 .install-npm {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  background-color: rgb(203, 56, 55);
  display: inline-block;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 6px;
  width: 30%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 }

 .install-npm:hover {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  background-color: #FF4621;
 }

 #npm-install {
  position: absolute;
  background-image: url("https://svgshare.com/i/7j_.svg");
  height: 500px;
  width: 100%;
  top:850px;
  margin: 470px 0 0 0;
  overflow: none;
  width: 100%;
  }
  
  .install {
  float: left;
  margin: 100px 0 0 320px;
/*   width: 300px; */
  color: #ffffff;
  }

  .install h1 {
    font-size: 40px;
    font-family: Arial;
    margin-left: 35px;
  }

  .but-npm {
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    background-color: rgb(49, 68, 88);
    display: inline-block;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 6px;
    width: 40%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 35px;
  }

  .but-npm:hover {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    background-color: #0022CC;
  }

  .install p {
    font-size: 21px;
    margin: 35px 0 15px 35px;
  }
  
  .bottom {
    position: relative;
    background-color: red;
    color:#87919c;
    height: 550px;
    margin: 1184px 0 0 0;
  }

  #registry {
    padding: 80px 440px 0;
    width: 100%;
  }