@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');

body {
  margin: 0;
  font-size: 15px;
  padding: 0;
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
}

.red {
  color: red;
}

nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 15px;
  height: 40px;
  border-bottom: 1px solid ##ff1a1a;
}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

.top-left {
  margin-left: 20px;
}

.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: -25px 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}

#search {
  display: inline-block;
  margin-left: 100px;
}

.header, .textbutton {
  font-color: #ffffff;
  background: rgb(32, 101, 136);
}

.textbutton {
  width: 60%;
  height: 250px;
  margin: 0 auto; 
}

.textbutton img {
  float: right;
  margin-top: -162px;
  width: 20%;
}

.clearfix {
  clear: both;
}