@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');

body {
  margin: 0;
  font-size: 15px;
  padding: 0;
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
}

.red {
  color: red;
}

nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 15px;
  height: 40px;
  border-bottom: 1px solid ##ff1a1a;
}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

.top-left {
  margin-left: 20px;
}

.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: -25px 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}

#search {
  display: inline-block;
  margin-left: 100px;
}

.header {
  color: #ffffff;
  background: rgb(32, 101, 136);
}

.textbutton {
  width: 60%;
  height: 250px;
  margin: 0 auto; 
}

.city-scape {
  background-image: url("https://svgshare.com/i/7jX.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: -3px;
  height: 100%;
}

.sign-up {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  background-color: rgb(240, 146, 51);
  display: inline-block;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 6px;
  width: 24%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.sign-up:hover {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  background-color: #FF9A33;
}
}

.clearfix {
  clear: both;
}